@import '~styles/config';

.host {
  min-height: 100vh;

  font-family: 'Josefin Sans', sans-serif;
  color: #353237;

  background-image: url('assets/images/home-bg.jpeg');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 7%;

  min-height: 60vh;

  background-color: rgba(255, 255, 255, 0.5);
}

.heading {
  text-align: center;
  color: #353237;
  font-size: 18px;

  @media (min-width: @min-1024) {
    font-size: 40px;
  }
}

.users {
  display: flex;
  justify-content: space-around;

  margin-bottom: 7%;
}

.image {
  margin: auto;
  border-radius: 50%;
}

.profile {
  padding: 3% 5%;

  min-width: 280px;

  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  margin-bottom: 0;

  text-align: center;
}

.info {
  text-align: center;
}

.happyImg {
  width: 250px;
}

.chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 3% 5%;

  min-width: 280px;

  background-color: rgba(255, 255, 255, 0.7);
}

.loading {
  margin: 30px auto;
}

.playerHeading {
  margin-bottom: 1.3em;

  text-align: center;
  font-size: 1.4em;
}
