@import '~styles/config';


.host {
  min-height: 100vh;

  font-family: 'Josefin Sans', sans-serif;
  color: #353237;

  background-image: url('assets/images/home-bg.jpeg');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 1vw;

  min-height: 60vh;

  background-color: rgba(255, 255, 255, 0.5);
}

.anchor {
  .reset-anchor;
}

.button {

  flex: 1;

  margin: auto;
  padding: 0.5em;

  width: 50%;

  font-size: 20px;
  text-align: center;

  border-radius: 2px;

  background-color: rgba(255, 255, 255, 0.7);

  transition: background-color ease-in-out 200ms, transform ease-in-out 200ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
  }

  @media (min-width: @min-1024) {
    font-size: 30px;
  }
}


.heading {
  text-align: center;
  color: #353237;
  font-size: 18px;

  @media (min-width: @min-640) {
    font-size: 26px;
  }

  @media (min-width: @min-1024) {
    font-size: 40px;
  }
}

.para {
  text-align: center;
}
